.THIS{

}
.THIS #bookingDetailModalId{
    padding:0rem!important;
	min-width: 100%!important;
    min-height: 100%!important;
    font-size: small!important;
    
}
.THIS #modal-content-id-1{
    height: inherit!important;
}