.THIS .slds-required {
    display: none;
}


.THIS .shipping-instruction .nameInput .slds-form-element__label {
    min-height:50px;
}

.THIS .shipping-instruction .slds-form-element__label{
    min-height:0px;
}

.THIS  .warninginput{
    border: 2px solid orange;
}