.THIS{
    background:#fff;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .THIS .slds-feed__item{
        border-bottom: 1px solid #dedede !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .THIS .slds-feed__item{
        border-bottom: 1px solid #dedede !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .THIS .slds-feed__item{
        border-bottom: 1px solid #dedede !important;
    }
}

.THIS .textRightAlign{
    text-align:right;
}
.THIS .idea-sub-header{
    width:100%;
}
.THIS .vertical-a_middle{
    vertical-align:middle;
}