.THIS.c-container {
    border: 1px solid #ecebea;
    padding: 10px 10px 20px 10px;
    border-radius: 1em;
    background-color : white;
}

.THIS .c-button-container {
    margin: 10px 0 0 0;
}

.THIS .c-heading {
    margin: 10px 0 10px 0;
}