.THIS .slds-required {
    display: none;
}


.THIS .shipping-instruction .nameInput .slds-form-element__label {
    min-height:50px;
}

.THIS .shipping-instruction .slds-form-element__label{
    min-height:0px;
    color: #333333;
    font-weight: bold;
}

.THIS .form-col{
    background: #fff;
}

.THIS .shipping-instruction .slds-grid.slds-gutters{
    border: 1px solid #000;
}
/*.THIS .flex-col{
    margin-left:20%;
    margin-right:20%;
     width:60%;  
}*/

.THIS .no-line{
    display:inline;
}

.THIS .right-shift{
    text-align:right;
}

.THIS .miniSize{
    min-height:0px;
}
.THIS .shipping-instruction .miniSize .slds-textarea{
     min-height:0px;
}