.THIS .slds-path__title{
    display: contents!important;
}

.THIS .slds-path__stage{
    display: none!important;
}

.THIS .bordered{
    border: lightgrey 2px;
}
.THIS .lightningProgressIndicator{
    position: sticky!important;
}