.THIS.c-container {
    padding: 10px 10px 20px 10px;
    background-color : white;
}
.THIS .btn_next button {
    min-width: 120px;
}

.THIS .input-group .lightningInput {
    display: inline-block;
    margin-right: 10px;
}