<template>
    <template if:true={isUrl}>
        <div title={value}><a href={hrefValue} target={target}>{value}</a></div>
    </template>
    <template if:true={isDate}>
        <div title={value}>{value}</div>
    </template>
    <template if:true={isText}>
        <div title={value}>{value}</div>
    </template>
</template>