.THIS p {
    margin-bottom: 0.5rem;
    color: black;
}
.THIS .add-arrow{
    content: ' \2192';
}
.THIS .slds-accordion__summary-heading{
    color: black;
}
.THIS ul li{
    color: black;
}

.THIS .slds-accordion__summary{
    background-color: lightgrey;
}