<template>
    {selStep}
    <lightning-progress-indicator current-step={selStep} type="path" variant="base">
        <lightning-progress-step label="Origin & Destination" value="1"></lightning-progress-step>
        <lightning-progress-step label="Party Details" value="2"></lightning-progress-step>
        <lightning-progress-step label="Cargo Details" value="3"></lightning-progress-step>
        <lightning-progress-step label="Schedule Selection" value="4"></lightning-progress-step>
        <lightning-progress-step label="Freight Rates" value="5"></lightning-progress-step>
        <lightning-progress-step label="Review & Book" value="6"></lightning-progress-step>
    </lightning-progress-indicator>    
</template>