.THIS .center-align {
    text-align:center;  
     font-size: large;
    background-color: lightgrey;
     
}
.THIS .slds-is-active{
    font-size: large;
    background: lightgrey;
}
.THIS .type-name{
    text-align:center;  
    font-size: large;
   background-color: lightgrey;
}
.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.THIS .c-inner-container {
    border: 1px solid #d8dde6;
    border-radius: 2em;
    padding: 1em;
    margin: 0px 0 20px 0;
    width: 100%;
}