.THIS .comboinput{

    background-color: rgb(255, 255, 255);
    border: 1px solid #d4d4d4;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
}

.THIS .circle {
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    pointer-events: none;
  }