<apex:page controller="CommunitiesLoginController" action="{!forwardToAuthPage}">
  <apex:includeLightning />
   <div id="LcDisplayId"></div> 
   <script>
      
    $Lightning.use("c:CustomerCommunity_Login_App", function() {
  
    $Lightning.createComponent("c:CustomerCommunity_Login",
    { 
      
    },
   "LcDisplayId",
    function(component) {
        
    });
 });
 </script>
</apex:page>