<apex:page standardController="Booking__c" showHeader="false" sidebar="false">
    <apex:includeLightning />    
    <apex:includeScript value="/lightning/lightning.out.js" />
    <div id="LightningComponentid" />    
    <script>
    $Lightning.use("c:CrowleyBookingRecordDetailApp", function() {
        $Lightning.createComponent("c:CrowleyBookingRecordDetail", 
                                   {
                                       "recordId" : "{!$CurrentPage.parameters.id}"
                                   }
                                   , "LightningComponentid",
                                   function(cmp) {
                                       console.log('Display Lightning component in visualforce page');
                                   });
    });
    </script>
</apex:page>