<apex:page controller="BookingPDFController" showHeader="false"> 
    <apex:includeLightning />
    
    <apex:form >
        
        <apex:actionfunction name="jsGeneratePDF" action="{!downloadPDF}" />
        
        <div id="lightning" />
        
        <script>
        function saveData(data, callback){
            
            jsGeneratePDF();
            
            if(typeof callback == 'function') callback();
        }
        
        
        function loadComponents(){
            console.log("Loading lightning component: DataProcessor");
            
            $Lightning.use("c:testLovesh", function() {
                $Lightning.createComponent(
                    "c:testPDFViewer",
                    { 
                        sendData : saveData
                    },
                    "lightning",
                    function(cmp) {});
            });
        }
        
        loadComponents();
        </script>
    </apex:form>
</apex:page>