.salesforceIdentityLoginBody2 .cCenterPanel:before {
    display: none;
}
.forceCommunityRecordListDesktop .slds-page-header {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.slds-breadcrumb {
    margin: 0;
}
ul, ol, .ui-widget{
    margin: 0 !important;
    padding: 0 !important;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    float: left;
    width: 100%;
    min-height: 80px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
}
a {
    color:#016799;
    text-decoration: none;
    background-color: transparent;
}
.header .hamburger-menu {
    float: left;
    width: 80px;
    padding: 28px;
}

.header .logo {
    float: left;
    width: 160px;
    padding: 24px 0 20px 20px;
    border-left: 1px solid #EAEAEA;
    min-height: 80px;
}

.lang-user-col {
    float: right;
    width: 300px;
    text-align: right;
    padding: 24px 20px 23px 0;
}

.lang-user-col .slds-icon-utility-global-constant {
    margin: 0 6px 0 0;
}

.lang-user-col .slds-icon-utility-down {
    margin: 0 0 0 6px;
}

.lang-user-col .slds-icon-action-user {
    margin: 0 6px 0 10px;
}

.siteforceContentArea .comm-layout-column:not(:empty) {
    padding: 0;
}

.siteforceStarterBody .cCenterPanel {
    padding: 80px 0 0 0;
    margin-top: 0 !important;
    max-width: unset;
}

.select-language,
.user-details {
    display: inline;
}

.user-details .slds-dropdown-trigger .slds-button {
    border: 0;
}

.user-details .slds-dropdown-trigger .slds-dropdown_left {
    left: auto;
    right: 0;
    margin: 0;
    padding: 0;
}

.user-details .slds-dropdown-trigger .slds-dropdown_left ul {
    margin: 0;
}

.test-listViewManager {
    margin: 15px 0 0 0;
    float: left;
    width: 100%;
    border: 1px solid #d7d7d7;
}
.select-case {
    float: left;
    text-align: center;
    max-width: 350px;
}
.comm-content-header .ui-widget {
    padding: 0;
}
.siteforceContentArea {
    max-width: 100%;
    padding: 80px 0 0 0;
}
.side-menu, .slds-large-order--1 {
    /* float: left; */
    /* position: fixed; */
    top: 80px;
    width: 260px;
    /* height: calc(100vh - 80px); */
    height: 100%;
    float: left;
    background: #fff;
    -webkit-box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.21);
}

.side-menu ul li {
    min-height: 76px;
    border-bottom: 1px solid #D3D3D3;
}

.side-menu ul li:last-child {
    border: 0;
}

.side-menu ul li a {
    padding: 25px 20px 26px 25px;
    color: #1A1A1A;
    display: block;
    border-left: 3px solid transparent;
    font-size: 16px;
}

.side-menu ul li a[aria-current] {
    background: #F9FDFF;
    color: #016799;
    border-left: 3px solid #016799;
    text-decoration: none;
    font-weight: bold;
}

.side-menu ul li a:hover {
    background: #F9FDFF;
    color: #016799;
    border-left: 3px solid #016799;
    text-decoration: none;
}

.side-menu ul li a .svg {
    float: left;
    width: 24px;
    margin: 0 28px 0 0;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.side-menu ul li a .icon-dsbrd {
    background-image: url('/CrowleyCustomerCommunity/resource/IconDashboard');
}

.side-menu ul li a:hover .icon-dsbrd,
.side-menu ul li a[aria-current] .icon-dsbrd {
    background-image: url('/CrowleyCustomerCommunity/resource/IconDashboardBlue');
}

.side-menu ul li a .icon-rqst-quote {
    background-image: url('/CrowleyCustomerCommunity/resource/IconRequestQuote');
}

.side-menu ul li a:hover .icon-rqst-quote,
.side-menu ul li a[aria-current] .icon-rqst-quote {
    background-image: url('/CrowleyCustomerCommunity/resource/IconRequestQuoteBlue');
}

.side-menu ul li a .icon-far {
    background-image: url('/CrowleyCustomerCommunity/resource/IconFar');
}

.side-menu ul li a:hover .icon-far,
.side-menu ul li a[aria-current] .icon-far {
    background-image: url('/CrowleyCustomerCommunity/resource/IconFarBlue');
}

.side-menu ul li a .icon-vessel-skd {
    background-image: url('/CrowleyCustomerCommunity/resource/IconVesselSkd');
}

.side-menu ul li a:hover .icon-vessel-skd,
.side-menu ul li a[aria-current] .icon-vessel-skd {
    background-image: url('/CrowleyCustomerCommunity/resource/IconVesselSkdBlue');
}

.side-menu ul li a .icon-luot {
    background-image: url('/CrowleyCustomerCommunity/resource/IconLuot');
}

.side-menu ul li a:hover .icon-luot,
.side-menu ul li a[aria-current] .icon-luot {
    background-image: url('/CrowleyCustomerCommunity/resource/IconLuotBlue');
}

.side-menu ul li a .icon-luir {
    background-image: url('/CrowleyCustomerCommunity/resource/IconLuir');
}

.side-menu ul li a:hover .icon-luir,
.side-menu ul li a[aria-current] .icon-luir {
    background-image: url('/CrowleyCustomerCommunity/resource/IconLuirBlue');
}

.side-menu ul li a .icon-mydocs {
    background-image: url('/CrowleyCustomerCommunity/resource/IconMyDocs');
}

.side-menu ul li a:hover .icon-mydocs,
.side-menu ul li a[aria-current] .icon-mydocs {
    background-image: url('/CrowleyCustomerCommunity/resource/IconMyDocsBlue');
}

.side-menu ul li a .icon-faqs {
    background-image: url('/CrowleyCustomerCommunity/resource/IconFaqs');
}

.side-menu ul li a:hover .icon-faqs,
.side-menu ul li a[aria-current] .icon-faqs {
    background-image: url('/CrowleyCustomerCommunity/resource/IconFaqsBlue');
}

.side-menu ul li a .icon-book {
    background-image: url('/CrowleyCustomerCommunity/resource/bookBlack');
}

.side-menu ul li a:hover .icon-book,
.side-menu ul li a[aria-current] .icon-book {
    background-image: url('/CrowleyCustomerCommunity/resource/bookBlue');
}

.side-menu ul li a .icon-manage {
    background-image: url('/CrowleyCustomerCommunity/resource/manageBlack');
}

.side-menu ul li a:hover .icon-manage,
.side-menu ul li a[aria-current] .icon-manage {
    background-image: url('/CrowleyCustomerCommunity/resource/manageBlue');
}

.side-menu ul li a .shiptrack {
    background-image: url('/CrowleyCustomerCommunity/resource/shipTrackingBlack');
}

.side-menu ul li a:hover .shiptrack,
.side-menu ul li a[aria-current] .shiptrack {
    background-image: url('/CrowleyCustomerCommunity/resource/shipTrackingBlue');
}

.side-menu ul li {
    min-height: 40px;
}

.sidebar {
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
    overflow: auto;
    background: #fff;
}

.fliph li a .nav-label,
.fliph li a .nav-label+span {
    display: none;
    transition: all 0.5s ease-in-out;
}

.fliph {
    width: 80px;
    transition: all 0.5s ease-in-out;
    background: #fff;
}

.fliph li {
    position: relative
}

.fliph .user-panel {
    display: none;
}
.slds-large-order--2 {
    float: right;
    width: calc(100% - 300px);
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
}
.dasboard-content {
    float: right;
    width: calc(100% - 300px);
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
}
.test-listViewManager .slds-table {
    width: 100% !important;
}
.dasboard-content-lg {
    width: calc(100% - 120px);
    transition: all 0.5s ease-in-out;
}
/*********************Custom Media Queries**********************************************/

@media only screen and (max-width: 767px) {
    .siteforceContentArea {
        padding: 54px 0 0 0;
    }

    .header .hamburger-menu {
        width: 45px;
        padding: 16px 10px;
    }

    .header .logo {
        width: 114px;
        padding: 16px 6px 0 6px;
        min-height: 54px;
    }

    .lang-user-col {
        width: 150px;
        padding: 10px 10px 10px 0;
    }

    .user-name {
        display: none;
    }

    .seleted-language {
        width: 25px;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        position: relative;
        top: 5px;
    }

    .header {
        min-height: 54px;
    }

    .side-menu {
        top: 54px;
    }

    .test-listViewManager {
        padding: 0;
    }

    .siteforceStarterBody .cCenterPanel {
        padding: 56px 0 0 0;
    }

}


@media only screen and (max-width: 1023px) {
    .side-menu, .slds-large-order--1 {
        /* width: 0; */
        transition: all 0.5s ease-in-out;
        background: #fff;
        height: 100%;
        z-index: 999;
    }
    .side-menu {
        width: 0;
    }
    .dasboard-content, .slds-large-order--2 {
        width: 100% !important;
        padding: 10px;
        margin: 0 !important;
    }

    .fliph {
        display: block;
        left: 0;
        width: 100% !important;
        height: 100%;
        z-index: 999;
        transition: all 0.5s ease-in-out;
        background: #fff;
    }
}