@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

::placeholder {
    color: #ccc !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    color: #ccc !important;
}

::-ms-input-placeholder {
    color: #ccc !important;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background: #EDEDED;
}

.comm-page-custom-findroute {
    background: #f0f0f0;
}

a {
    color: #2F76FB;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.btn {
    font-size: 14px;
    /* margin-left: 10px; */
}

/*** GENERIC CSS ***/
.uiContainerManager {
    display: none;
}

.nav-tabs {
    border: 0;
}

.slds-lookup__menu {
    padding: 0;
}

.slds-lookup__list {
    margin-bottom: 0;
}

.siteforceStarterBody .cCenterPanel {
    max-width: unset !important;
}

.forceCommunityEmbeddedServiceHelpButton .flatButton {
    position: absolute;
    bottom: 0;
    right: 0px;
    background: #2F76FB !important;
    height: 54px;
    width: 54px;
    border-radius: 50px !important;
    box-shadow: 0px 0px 10px #999;
}

.forceCommunityEmbeddedServiceHelpButton .flatButton .helpButtonLabel {
    display: none;
}

.forceCommunityEmbeddedServiceHelpButton .help {
    padding: 0;
}

.forceCommunityEmbeddedServiceHelpButton .help svg {
    height: unset !important;
    width: 1.2em !important;
    margin: 9px 3px;
}

input[type=search] {
    -webkit-appearance: unset;
}

.slds-form-element.slds-lookup {
    margin-bottom: 0;
}

.slds-checkbox .slds-checkbox_faux,
.slds-checkbox .slds-checkbox--faux {
    width: 1.4rem;
    height: 1.4rem;
    border: 1px solid #000;
}

.text-center {
    text-align: center;
}

.slds-select {
    height: 50px;
    border: 1px solid #636363;
}

.slds-form-element__label {
    font-size: 14px;
    color: #000;
}

.slds-has-error .slds-input {
    border-color: #2F76FB;
    box-shadow: #2F76FB 0 0 0 1px inset;
}

.slds-has-error .slds-input:focus,
.slds-has-error .slds-input:active {
    box-shadow: #2F76FB 0 0 0 1px inset, 0 0 3px #2F76FB;
}

.slds-input {
    height: 50px;
    border: 1px solid #636363;
    color: #000;
    background: #fff;
}

input:-internal-autofill-selected {
    background: #fff;
}

.slds-button {
    height: 48px;
    width: 100%;
}
.slds-button_neutral:hover {
    background-color: #2F76FB;
    border-color: #2F76FB;
    color: #fff;
}
.slds-form-element {
    margin-bottom: 10px;
}

.slds-button_destructive,
.slds-button--destructive {
    background-color: #2F76FB;
    border-color: #2F76FB;
    font-size: 17px;
}

.slds-button_destructive:hover,
.slds-button_destructive:focus,
.slds-button--destructive:hover,
.slds-button--destructive:focus {
    background-color: #2F76FB;
    border-color: #2F76FB;
}



.cCenterPanel {
    margin: 0;
    padding: 0;
}

.contentRegion {
    padding: 0;
}

.header-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    float: left;
    width: 100%;
    min-height: 70px;
    background: #fff;
}

.container-div {
    float: left;
    width: 100%;
}

.siteforceContentArea .comm-layout-column:not(:empty) {
    padding-top: 0;
    padding-bottom: 0;
    padding: 0;
}

.who-know {
    font-size: 8px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.header-right-content {
    float: left;
    margin: 25px 20px 0 0;
}

.header-icons {
    float: right;
    padding: 25px 20px 0 0;
}

.header-icons a {
    color: #000;
    display: block;
}

.user-group {
    float: left;
    line-height: 12px;
    font-size: 11px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 2px;
}

.user-group p {
    margin-bottom: 0;
}

.user-group .user-designation {
    font-size: 9px;
    color: #333;
    opacity: 0.7;
}

.bell {
    display: inline-block;
    background-image: url('/CrowleyCustomerCommunity/resource/bell');
    width: 24px;
    height: 32px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.user-avatar {
    float: left;
    background-image: url('/CrowleyCustomerCommunity/resource/userAvatar');
    width: 27px;
    height: 32px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.menu {
    display: inline-block;
    background-image: url('/CrowleyCustomerCommunity/resource/menu');
    width: 24px;
    height: 24px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 2px;
}

.logo {
    float: left;
    background-image: url('/CrowleyCustomerCommunity/resource/LogoSVG');
    width: 100px;
    height: 70px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 4px 0 0 18px;
    background-position: center;
}

/******************/

.dashboard-white-blocks {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 0;
    /* min-height: 150px; */
}

.dashboard-white-blocks {
    margin-bottom: 10px;
}

.dashboard-white-blocks h2 {
    font-weight: 700;
    font-size: 20px;
}

.view-more-dropdown {
    display: inline-block;
    background-image: url('/CrowleyCustomerCommunity/resource/ChevronDownBlack');
    width: 17px;
    height: 17px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.no-padding {
    padding: 0;
}

.dashboard-white-blocks h3 {
    font-weight: 700;
    font-size: 14px;
}

.numbers {
    font-size: 32px;
}

.numbers span {
    font-size: 18px;
}

.container-div a {
    text-decoration: underline;
    font-size: 12px;
}

.container-div a {
    text-decoration: none;
    font-size: 12px;
}

.login-form-buttons {
    margin: 20px 0;
    float: left;
    width: 100%;
}

.user-onboard-form {
    float: right;
    width: 50%;
    padding: 50px;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3ebf9;
}

.login-form-buttons .new-user-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}

.login-form-buttons .new-user-btn:focus {
    box-shadow: unset;
}

.login-form-buttons .new-user-btn::after {
    background-image: url('/CrowleyCustomerCommunity/resource/arrowleft');
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
}

.user-onboard-form-v-h-box {
    width: 100%;
    max-width: 327px;
}

.crowley-highlights {
    width: 50%;
    float: left;
    height: 100vh;
    padding: 50px;
    position: fixed;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.crowley-highlights::before {
    background-image: url('/CrowleyCustomerCommunity/resource/seaship');
    width: 100%;
    height: 430px;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 0;
    display: inline-block;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.white-shadow {
    background-image: url('/CrowleyCustomerCommunity/resource/whiteShadow');
    width: 100%;
    height: 50vh;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-size: 100%;
    display: none;
}

.veloz-logo {
    margin: 20px 0 0px 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-image: url('/CrowleyCustomerCommunity/resource/LogoSVG');
    width: 100px;
    height: 45px;
    background-size: 100%;
    text-indent: -99999px;
    background-repeat: no-repeat;
}

.crowleyLogoRed {
    background-image: url('/CrowleyCustomerCommunity/resource/crowleyLogoRed');
    position: absolute;
    bottom: 20px;
    left: 50px;
    display: inline-block;
    width: 120px;
    height: 30px;
    background-size: 100%;
}

.user-onboard-text {
    color: #000;
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
}

.user-onboard-text h2 {
    font-size: 27px;
    line-height: 33px;
    font-weight: 500;
    margin-bottom: 7px;
}



/*** NEW UI 06 March ***/

.user-onboard-form h1 {
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    color: #2F76FB;
    margin-bottom: 10px;
}

.back-icon-btn {
    position: absolute;
    top: 20px;
    left: 20px;
}



.show-password {
    margin-top: 1px !important;
    zoom: 1.4;
    right: 7px !important;
}

.slds-button:focus {
    box-shadow: 0 0 3px #2F76FB;
}



.otp-container {
    width: 100%;
    float: left;
}

.otp-container .slds-form-element {
    width: 20% !important;
    padding: 0 10px !important;
    float: left;
}

.otp-container .slds-form-element__label {
    display: none;
}

.otp-container .slds-form-element__control {
    padding: 0 !important;
}

.otp-container .slds-form-element__control .slds-input {
    border: 0;
    outline: 0;
    border-radius: 0 !important;
    text-align: center;
    font-size: 33px;
    font-weight: 200;
    color: #EA9820;
    padding: 0;
}

.otp-container .slds-form-element__control .slds-input:focus {
    outline: 0;
    box-shadow: unset;
}

.resend-otp {
    text-align: left;
    margin-top: 10px;
    font-size: 12px;
    color: #888888;
}

.resend-otp>span {
    text-align: left;
    width: 100%;
    display: block;
}

.slds-input-has-fixed-addon {
    display: none;
}

.emailsent {
    background-image: url('/CrowleyCustomerCommunity/resource/emailsent');
    width: 100%;
    height: 280px;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    display: none;
}

.reset-password {
    background-image: url('/CrowleyCustomerCommunity/resource/resetpassword');
    width: 100%;
    height: 280px;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    display: none;
}

.linksent {
    width: 244px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: #2F76FB;
    line-height: 32px;
}

.back-icon-btn {
    background-image: url('/CrowleyCustomerCommunity/resource/arrowleft');
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
}

.dock-search {
    top: 0;
    width: 100%;
    background: #fff;
    padding: 0;
    z-index: 9999;
}

.suggestive-search {
    margin-bottom: 0;
}

.slds-lookup__menu {
    background: #f7f7f7;
}

.slds-lookup__item-action {
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
}

.suggestive-search .slds-lookup__item_label,
.suggestive-search .slds-lookup__item--label {
    display: block;
}

.result-modal {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    font-weight: normal;
}

.search-modal {
    float: left;
    width: 100%;
}

.add-new-btn {
    background: #2F76FB;
    color: #fff;
}

.success-message {
    color: green;
    font-size: 12px;
    padding: 10px 0;
}

/* find a route css */
.purple-bg {
    background-color: #A925FC !important;
}

.dark-pink-bg {
    background-color: #FB1263 !important;
}

.light-orange-bg {
    background-color: #FBA929 !important;
}

.blue-bg-img {
    display: inline-block;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/CrowleyCustomerCommunity/resource/blueBgImg');
    background-position: center;
    background-color: #2F76FB;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.level-zero-dashboard .blue-bg-img {
    color: #fff;
}

.blue-bg-img h2 {
    font-size: 20px;
    color: #fff;
    font: 500;
}

.shipment-type {
    margin-bottom: 10px;
    width: 156px;
    background: #fff;
    padding: 5px;
    float: left;
    margin-top: 12px;
    border-radius: 3px;
}

.shipment-type .slds-button {
    height: unset;
    min-height: unset;
    display: block;
    border-radius: 3px !important;
    width: 50%;
}

.shipment-type .slds-button-group {
    width: 100%;
}

.slds-m-around_large,
.slds-m-around--large {
    margin: 0;
}

.shipment-type .slds-button_brand {
    background: #2F76FB;
}

.origin-dest-weeks .slds-form-element__label {
    font-weight: 500;
    color: #FFF;
}

.far-search-result {
    padding: 20px 0 0 0;
}

.search-reult-header {
    float: left;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.found-results {
    font-size: 20px;
    color: #2F76FB;
    border-bottom: 1px solid #D8D8D8;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.origin-port,
.destination-port {
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
    line-height: normal;
}

.from-to-container {
    text-align: left;
    display: block;
    border-bottom: 1px solid #999;
    padding: 3px 0 10px 20px;
}

.std-pev {
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
}

.arrow-icon {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.arrow-icon span {
    background-image: url(/CrowleyCustomerCommunity/resource/arrowRicon);
    width: 37px;
    height: 29px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    position: relative;
    top: 8px;
}

.slds-button {
    font-size: 15px;
    padding: 0 8px;
}

/* 
.slds-button:hover,
.slds-button:visited,
.slds-button:focus {
    border: 1px solid #000;
    background: #fff;
    color: #333;
} */

.print-expand-buttons {
    margin-top: 18px;
    display: block;
}

.found-routes .route-results {
    padding: 0 40px 0 20px;
    border-bottom: 1px solid #ccc !important;
    border: 0;
    border-radius: 0;
}

.found-routes .slds-card .slds-card__header {
    display: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.org-dest-dhased-line {
    text-align: center;
    position: relative;
    width: calc(100% - 140px);
    display: inline-block;
}

.longRarrow {
    background: url('/CrowleyCustomerCommunity/resource/longRarrow') no-repeat center;
    height: 16px;
    display: block;
    width: 100%;
    text-align: center;
}

.origin-icon {
    float: left;
    background-image: url('/CrowleyCustomerCommunity/resource/iconOriginBlue');
    width: 16px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
}

.destination-icon {
    float: right;
    background-image: url('/CrowleyCustomerCommunity/resource/iconDestinationBlue');
    width: 13px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
}

.switch-icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.start-end-day {
    font-size: 12px;
    line-height: normal;
    color: #333;
    opacity: 0.49;
}

.start-end-date {
    line-height: normal;
    font-size: 17px;
    font-weight: 500;
}

.transmit-time {
    float: left;
    width: calc(100% - 40px);
    text-align: center;
    line-height: normal;
}

.print-button {
    float: left;
    width: 40px;
    margin-bottom: 40px;
}

.transmit-time h2 {
    font-size: 52px;
    display: inline;
    color: #D12331;
}

.label-days {
    font-size: 20px;
    color: #D12331;
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.user-onboard-form .error-message {
    color: #D12331;
    background-color: #FFF;
    position: relative;
    padding: 20px 10px 20px 30px;
    margin-bottom: 1rem;
    border-left: 3px solid #D12331;
    border-radius: .25rem;
    font-size: 12px;
}

.user-onboard-form .slds-has-error .slds-form-element__help {
    color: #D12331;
    background: #fff;
    border-left: 3px solid #D12331;
    padding: 5px;
    border-radius: 3px;
}

.error-message h5 {
    font-size: 6px;
    font-weight: 500;
    color: #D12331;
    margin-bottom: 7px;
}

.error-message h5::before {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('/CrowleyCustomerCommunity/resource/errorIconFilled');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    left: 6px;
    top: 20;
    content: '';
}

.user-onboard-form .success-message {
    color: #155724;
    background-color: #d4edda;
    position: relative;
    padding: 20px 10px 20px 30px;
    margin-bottom: 1rem;
    border-left: 3px solid #155724;
    border-radius: .25rem;
    font-size: 12px;
}


.route-result-details {
    background: #F7F7F7;
    border: 0;
    border-radius: 4px;
    padding: 17px 20px 0 20px;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

.route-result-details .start-end-day {
    font-size: 15px !important;
}

.route-result-details .org-dest-dhased-line {
    margin-top: 20px;
}

.route-result-details .org-dest-dhased-line::after {
    border-color: #8F8F8F;
    display: none;
}

.route-result-details .origin-icon {
    background-image: url('/CrowleyCustomerCommunity/resource/iconOriginGrey');
}

.route-result-details .destination-icon {
    background-image: url('/CrowleyCustomerCommunity/resource/iconDestinationGrey');
}

.route-result-details .switch-icon {
    background-image: url('/CrowleyCustomerCommunity/resource/iconSwitchGrey');
}

.clearfix {
    float: none;
    clear: both;
}

.select-language,
.user-details {
    display: inline;
}

.user-details .slds-dropdown-trigger .slds-button {
    border: 0;
}

.user-details .slds-dropdown-trigger .slds-dropdown_left {
    left: auto;
    right: 0;
    margin: 0;
    padding: 0;
}

.user-details .slds-dropdown-trigger .slds-dropdown_left ul {
    margin: 0;
}

.user-details .slds-button__icon {
    width: 16px;
    height: 16px;
    margin-top: -7px;
}

.user-details .slds-dropdown__item {
    font-size: 14px;
}

.vessel-voyage {
    border: 1px solid #687178;
    margin-bottom: 10px;
    /* border-bottom: 0; */
    float: right;
    width: 150px;
}

.vessel-voyage .head {
    background: #FFFFFF;
    padding: 5px 10px;
    font-size: 12px;
    color: #687178;
}

.vessel-voyage .detail {
    background: #E1E1E1;
    padding: 5px 10px;
    font-size: 12px;
    color: #333333;
    font-weight: bold;
}

.m-b-20 {
    margin-bottom: 20px;
}

.cut-of-notes {
    border-top: 1px solid #D8D8D8;
    padding-top: 20px;
}

.cut-of-notes h3 {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 2px;
}

#accordionEx #headingOne1 a[aria-expanded="true"] .icon-chevronup {
    background-image: url('/CrowleyCustomerCommunity/resource/chevronDown');
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    right: -17px;
    top: 17px;
}

#accordionEx #headingOne1 a[aria-expanded="false"] .icon-chevronup {
    background-image: url('/CrowleyCustomerCommunity/resource/chevronRight');
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    right: -17px;
    top: 17px;
}

.color-blue {
    color: #2F76FB;
}


.verified-email {
    position: absolute;
    right: 12px;
    top: 39px;
    background-image: url('/CrowleyCustomerCommunity/resource/verifiedEmail');
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.clear-field {
    position: absolute;
    right: 12px;
    top: 42px;
    background-image: url('/CrowleyCustomerCommunity/resource/clearField');
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
}

.white-container {
    background: #fff;
    border-radius: 5px;
}

/********* SIDE MENU **********/

.side-menu {
    position: fixed;
    top: 74px;
    width: 180px;
    height: calc(100vh - 70px);
    float: left;
    background: #fff;
}

.side-menu ul li {
    min-height: 48px;
    border-bottom: 1px solid #f2f2f2;
}


.side-menu ul li a {
    padding: 15px 10px 15px 16px;
    color: #1A1A1A;
    display: block;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.side-menu ul li a[aria-current] {
    background: #2F76FB;
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
}

.side-menu ul li a:hover {
    background: #2F76FB;
    color: #FFF;
    text-decoration: none;
}

.side-menu ul li a .svg {
    float: left;
    width: 15px;
    margin: 0 8px 0 0;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.side-menu ul li a .icon-dsbrd {
    background-image: url('/CrowleyCustomerCommunity/resource/iconHomeB');
}

.side-menu ul li a:hover .icon-dsbrd,
.side-menu ul li a[aria-current] .icon-dsbrd {
    background-image: url('/CrowleyCustomerCommunity/resource/iconHomeW');
    background-color: #2F76FB;
}

.side-menu ul li a .icon-rqst-quote {
    background-image: url('/CrowleyCustomerCommunity/resource/catalogB');
}

.side-menu ul li a:hover .icon-rqst-quote,
.side-menu ul li a[aria-current] .icon-rqst-quote {
    background-image: url('/CrowleyCustomerCommunity/resource/catalogW');
}

.side-menu ul li a .icon-far {
    background-image: url('/CrowleyCustomerCommunity/resource/routeshipmentB');
}

.side-menu ul li a:hover .icon-far,
.side-menu ul li a[aria-current] .icon-far {
    background-image: url('/CrowleyCustomerCommunity/resource/routeshipmentW');
}

.side-menu ul li a .icon-fmv {
    background-image: url('/CrowleyCustomerCommunity/resource/findmyshipsB');
}

.side-menu ul li a:hover .icon-fmv,
.side-menu ul li a[aria-current] .icon-fmv {
    background-image: url('/CrowleyCustomerCommunity/resource/findmyshipsW');
}

.side-menu ul li a .icon-fms {
    background-image: url('/CrowleyCustomerCommunity/resource/findmyvesselb');
}

.side-menu ul li a:hover .icon-fms,
.side-menu ul li a[aria-current] .icon-fms {
    background-image: url('/CrowleyCustomerCommunity/resource/findmyvesselW');
}


.side-menu ul li a .icon-vessel-skd {
    background-image: url('/CrowleyCustomerCommunity/resource/vesselscheduleB');
}

.side-menu ul li a:hover .icon-vessel-skd,
.side-menu ul li a[aria-current] .icon-vessel-skd {
    background-image: url('/CrowleyCustomerCommunity/resource/vesselscheduleW');
}

.side-menu ul li a .icon-luot {
    background-image: url('/CrowleyCustomerCommunity/resource/IconLuot');
}

.side-menu ul li a:hover .icon-luot,
.side-menu ul li a[aria-current] .icon-luot {
    background-image: url('/CrowleyCustomerCommunity/resource/IconLuotBlue');
}

.side-menu ul li a .icon-luir {
    background-image: url('/CrowleyCustomerCommunity/resource/IconLuir');
}

.side-menu ul li a:hover .icon-luir,
.side-menu ul li a[aria-current] .icon-luir {
    background-image: url('/CrowleyCustomerCommunity/resource/IconLuirBlue');
}

.side-menu ul li a .icon-mydocs {
    background-image: url('/CrowleyCustomerCommunity/resource/submitdocsB');
}

.side-menu ul li a:hover .icon-mydocs,
.side-menu ul li a[aria-current] .icon-mydocs {
    background-image: url('/CrowleyCustomerCommunity/resource/submitdocsW');
}

.side-menu ul li a .icon-faqs {
    background-image: url('/CrowleyCustomerCommunity/resource/helpiconB');
}

.side-menu ul li a:hover .icon-faqs,
.side-menu ul li a[aria-current] .icon-faqs {
    background-image: url('/CrowleyCustomerCommunity/resource/helpiconW');
}


.side-menu ul li a .icon-contact {
    background-image: url('/CrowleyCustomerCommunity/resource/emailusB');
}



.side-menu ul li a:hover .icon-contact,
.side-menu ul li a[aria-current] .icon-contact {
    background-image: url('/CrowleyCustomerCommunity/resource/emailusW');
}

.side-menu ul li a .icon-book {
    background-image: url('/CrowleyCustomerCommunity/resource/makebookingB');
}

.side-menu ul li a:hover .icon-book,
.side-menu ul li a[aria-current] .icon-book {
    background-image: url('/CrowleyCustomerCommunity/resource/makebookingW');
}

.side-menu ul li a .icon-manage {
    background-image: url('/CrowleyCustomerCommunity/resource/manageBlack');
}

.side-menu ul li a:hover .icon-manage,
.side-menu ul li a[aria-current] .icon-manage {
    background-image: url('/CrowleyCustomerCommunity/resource/manageBlue');
}

.side-menu ul li a .shiptrack {
    background-image: url('/CrowleyCustomerCommunity/resource/trackshipmentB');
}

.side-menu ul li a:hover .shiptrack,
.side-menu ul li a[aria-current] .shiptrack {
    background-image: url('/CrowleyCustomerCommunity/resource/trackshipmentW');
}

.side-menu ul li a .cases {
    background-image: url('/CrowleyCustomerCommunity/resource/casesBlack');
}

.side-menu ul li a:hover .cases,
.side-menu ul li a[aria-current] .cases {
    background-image: url('/CrowleyCustomerCommunity/resource/casesBlue');
}
.side-menu ul li a .icon-idea {
    background-image: url('/CrowleyCustomerCommunity/resource/IconIdea');
}
.side-menu ul li a:hover .icon-idea,
.side-menu ul li a[aria-current] .icon-idea {
    background-image: url('/CrowleyCustomerCommunity/resource/IconIdeaW');
}


/**********Sider bar hide show**************/

.sidebar {
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
}

.fliph li a .nav-label,
.fliph li a .nav-label+span {
    display: none;
    transition: all 0.5s ease-in-out;
}

.fliph {
    width: 80px;
    transition: all 0.5s ease-in-out;
    background: #fff;
}

.fliph li {
    position: relative
}

.fliph .user-panel {
    display: none;
}

.dasboard-content {
    float: right;
    width: calc(100% - 180px);
    transition: all 0.5s ease-in-out;
    padding: 20px;
    background: #EDEDED;
}

.slds-progress {
    max-width: 100%;
    margin-bottom: 30px;
}

.slds-progress .slds-button {
    font-size: unset;
    padding: unset;
    width: 20px;
    height: 20px;
}

.slds-progress__item.slds-is-completed .slds-progress__marker_icon,
.slds-progress__item.slds-is-completed .slds-progress__marker--icon {
    color: #2F76FB;
}

.slds-progress__item.slds-is-completed .slds-progress__marker,
.slds-progress__item.slds-is-active .slds-progress__marker {
    color: #2F76FB;
}

.slds-progress-bar {
    background: #f7f7f7;
}

.slds-progress-bar__value {
    background: #2F76FB;
}

.slds-progress__item.slds-is-completed .slds-progress__marker,
.slds-progress__item.slds-is-active .slds-progress__marker {
    border-color: #2F76FB;
}

.slds-progress_shade .slds-progress__item .slds-progress__marker,
.slds-progress--shade .slds-progress__item .slds-progress__marker {
    border-color: #999;
}

.slds-progress .slds-button__icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: -4px;
}

.container {
    max-width: unset;
    padding: 70px 0 0 0;

}

.header-right-content {
    display: none;
}

.slds-dropdown-trigger .slds-button {
    height: unset;
    border: 0;
}

.sortby {
    max-width: 210px;
    background: #fff;
    display: inline-block;
    border-radius: 45px;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 4px;
}

.sortby-label {
    float: left;
    width: 55px;
    line-height: 31px;
}

.sortby-dd {
    float: left;
    width: calc(100% - 55px);
    margin: 0;
    font-weight: 500;
}

.sortby-dd .slds-select {
    height: 30px;
    border: 0;
    background: none;
}

.sortby-dd .slds-form-element__label {
    display: none;
}

.footer-div {
    display: none;
}

.user-onboard {
    background: #fff;
    float: left;
    width: 100%;
}

.user-group .slds-dropdown-trigger .slds-button {
    border: 0;
}

.user-group .slds-dropdown-trigger .slds-dropdown_left {
    left: auto;
    right: 0;
    margin: 0;
    padding: 0;
    top: 46px;
}

.user-group .slds-dropdown-trigger .slds-dropdown_left ul {
    margin: 0;
}

.user-group .slds-button__icon {
    width: 16px;
    height: 16px;
    margin-top: -7px;
}

.user-group .slds-dropdown__item {
    font-size: 14px;
}

.header-search {
    max-width: 400px;
    text-align: center;
    position: absolute;
    left: 280px;
    display: none;
}

.header-search input {
    width: 100%;
    margin: auto;
    height: 42px;
    background: #F0F0F0;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: 10px;
    margin-top: 16px;
    color: #333;
}

.dashboard-white-containers {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);
    float: left;
    width: 100%;
}

.upload-photo {
    float: left;
    width: 110px;
}

.uploadPic {
    background-image: url('/CrowleyCustomerCommunity/resource/uploadPic');
    display: inline-block;
    width: 93px;
    height: 93px;
    background-size: 100%;
}

.hello-username {
    float: left;
    width: calc(100% - 110px);
}

.hello-username h2 {
    font-size: 20px;
    font-weight: 500;
    color: #1162FB;
}

.hello-username .slds-progress-bar {
    margin: 10px 0;
    border-radius: 5px;
}

.hello-username .slds-progress-bar__value {
    border-radius: 5px;
}

.dashboard-white-containers h3 {
    font-size: 20px;
    font-weight: 500;
}

.try-now-arrow {
    border-top: 1px solid #dedede;
    margin-top: 20px;
    padding-top: 6px;
}

.trackherelabel {
    color: #fff;
}

.track-shipment-field {
    position: relative;
}

.track-shipment-field .slds-input {
    border: 0;
}

.track-shipment-field .arrow-icon {
    position: absolute;
    right: 0;
    top: 3px;
}

.link-in-bluebg {
    padding: 10px 0;
    display: inline-block;
    color: #fff;
    text-decoration: underline;
}

.link-in-bluebg:hover {
    color: #fff;
}

.hamburger-menu {
    display: none;
}

.dashboard-company-name {
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 6px 0;

}

.under-maintanance {
    padding: 50px;
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}

.under-maintanance .login-form-buttons {
    max-width: 100px;
    margin: auto;
    float: none;
}

.under-maintanance h2 {
    font-weight: 700;
    margin-bottom: 17px;
}

.under-maintanance h3 {
    font-size: 17px;
    font-weight: normal;
    color: grey;
    margin-bottom: 50px;
}

.blank-search {
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
    background: #fff;
}

.back-icon-btn {
    display: none;
}
.idea-page-container {
    padding: 20px;
    float: left;
    width: 100%;
    background: #fff;
}
.idea-search {
    padding: 20px;
    background: #2F76FB;
    border-radius: 5px;
    margin: 10px 0;
}
.idea-search .slds-form-element__label {
    color: #fff;
}
.idea-page{ 
    float: left;
    width: 70%;
    padding-right: 20px;
    border-right: 2px solid #f7f7f7;
    min-height: 500px;
}
.idea-poster {
    background-image: url(/CrowleyCustomerCommunity/resource/ideaPosterVector);
    height: 500px;
    width: 30%;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    padding:0 20px;
}
.idea-poster h3 {
    font-size: 34px;
    font-weight: 200;
    color: #000;
}

.page-start-end {
    float: left;
    width: 100%;
}
.p-t-b-15 {
    padding: 15px 0;
    font-size: 12px;
    color: darkgrey;
    font-style: italic;
}
.post-idea-link {
    font-size: 14px;
    display: inline-block;
    margin: 10px 0;
    background: #2F76FB;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
}
.post-idea-link:hover {
    color: #fff;
}
.date-time-stamp {
    min-width: 120px;
    max-width: 120px;
    text-align: right;
}
.form-checkbox {
    display: inline-block !important;
}
.slds-file-selector__text {
    white-space: nowrap;
}
.save-cancel-btn {
    max-width: 230px;
    margin: 20px 0;
}
.save-cancel-btn .slds-button{
    float: left;
    width: 100px;
    margin-right: 10px;
}
.slds-dueling-list__options [aria-selected="true"], .slds-picklist__options [aria-selected="true"] {
    background-color: #2F76FB;
}
.slds-dueling-list__options [aria-selected="true"]:hover, .slds-dueling-list__options [aria-selected="true"]:focus, .slds-picklist__options [aria-selected="true"]:hover, .slds-picklist__options [aria-selected="true"]:focus {
    background-color: #1162FB;
}
.max-w-100{
    max-width: 100px;
}
.slds-comment .slds-button-group .slds-button{
    width: unset;
}
.width-unset {
    width: unset;
}
.idea-sub-header {
    width: 100%;
}
.lightningBreadcrumbs {
    margin-bottom: 10px;
}
.toastContainer .toastClose {
    width: unset;
}
.toastContainer .toastClose:focus {
    border: 0;
    outline: unset;
}
/*********************************************************************************************************************

                                                RESPONSIVE MEDIA QUERIES 
                                                *************************
                                                *************************
 
*********************************************************************************************************************/

@media screen and (max-width: 767px) {
    .idea-poster {
        display: none;
    }
    .idea-page {
        width: 100%;
        padding-right:unset;
        border-right: unset;
    }
    .idea-page h2 {
        font-size: 25px;
    line-height: 40px;
    }
    .otp-container .slds-form-element__control .slds-input {
        border-bottom: 1px solid #000;
    }

    .back-icon-btn {
        display: block;
    }

    .reset-password,
    .emailsent {
        display: block;
    }

    .under-maintanance h2 {
        font-size: 26px;
    }

    .hamburger-menu {
        display: block;
        margin: 24px 20px;
        float: left;
    }

    .side-menu ul li {
        border-bottom: 1px solid #ccc;
    }

    .forceCommunityEmbeddedServiceHelpButton .flatButton {
        bottom: 70px !important;
    }

    .container {
        max-width: unset;
        padding: 70px 0 54px 0;
        float: left;
    }

    .header-icons {
        padding: 20px 0 0 15px;
    }

    .header-search {
        display: none;
    }

    .origin-dest-weeks .slds-input,
    .origin-dest-weeks .slds-select {
        border: 0;
    }

    .route-result-details {
        padding: 10px;
        background: #fff;
        border-radius: 0;
        border-bottom: 2px solid #000;
    }

    .logo {
        width: 77px;
        margin: 0;
    }

    .from-to-container {
        text-align: center;
    }

    .blue-bg-img {
        padding: 10px;
    }



    .slds-progress {
        display: none;
    }

    .side-menu ul li {
        min-height: 40px;
    }

    .side-menu ul li a {
        padding: 15px 20px 16px 25px;
    }

    .side-menu {
        top: 70px;
        position: fixed;
    }

    .origin-dest-weeks .slds-form-element {
        margin-bottom: 10px;
    }

    .org-dest-dhased-line {
        margin: 10px 0;
    }

    .start-end-date {
        margin-bottom: 10px;
    }

    .dasboard-content h1 {
        margin: 5px 0;
        font-size: 20px;
    }

    .vessel-voyage {
        min-width: 100%;
    }

    .veloz-logo {
        left: 20px;
        top: 20px;
        padding: 0;
        margin: 0;
        background-image: url('/CrowleyCustomerCommunity/resource/velozLogo');
    }

    .crowleyLogoRed {
        background-image: url('/CrowleyCustomerCommunity/resource/crowleyLogoRed');
        position: absolute;
        bottom: 20px;
        left: 50px;
        display: inline-block;
        width: 120px;
        height: 30px;
        background-size: 100%;
    }

    .login-form-buttons .new-user-btn {
        position: absolute;
        top: 10px;
        left: 0;
        display: none;
    }

    .slds-input-has-fixed-addon {
        display: block;
    }

    .agent-chat {
        float: left;
        width: 100%;
        position: relative;
    }

    .agent-chat .chat-icon {
        display: inline-block;
        background-image: url(/CrowleyCustomerCommunity/resource/AgentChat);
        width: 44px;
        height: 44px;
        background-size: 52%;
        background-repeat: no-repeat;
        position: fixed;
        right: 10px;
        bottom: 80px;
        background-color: #f2f2f2;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);
        border-radius: 60px;
        background-position: center;
        z-index: 1;
    }

    .footer-div {
        display: block;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        background: #fff;
        padding: 10px 0;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);
        z-index: 9;
    }

    .footer-div ul li {
        float: left;
        width: 20%;
        text-align: center;
    }

    .footer-div ul li i {
        width: 22px;
        height: 20px;
        background-size: contain;
        text-align: center;
        background-position: center;
    }

    .footer-div ul li span.label {
        width: 100%;
        display: block;
        margin-top: 5px;
        font-size: 10px;
        font-weight: 500;
    }

    .footer-div ul li a {
        color: #000;
    }

    .footer-div ul li a:hover {
        color: #2F76FB;
        text-decoration: none;
    }

    .home-icon {
        display: inline-block;
        background-image: url('/CrowleyCustomerCommunity/resource/homeIcon');
        width: 20px;
        height: 24px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .quote-icon {
        display: inline-block;
        background-image: url('/CrowleyCustomerCommunity/resource/quote');
        width: 24px;
        height: 24px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .book-icon {
        display: inline-block;
        background-image: url('/CrowleyCustomerCommunity/resource/book');
        width: 24px;
        height: 24px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .track-icon {
        display: inline-block;
        background-image: url('/CrowleyCustomerCommunity/resource/track');
        width: 24px;
        height: 24px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .route-icon {
        display: inline-block;
        background-image: url('/CrowleyCustomerCommunity/resource/route');
        width: 24px;
        height: 24px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .exceptions-col {
        background: #FFF3DB;
    }

    .exceptions-col .slds-badge {
        background: #FEC377;
    }

    .next-actions-col {
        background: #E4F4E9;
    }

    .active-shipments-col {
        background: #FEECE7;
    }

    .billing-payments-col {
        background: #FFFBE1;
    }

    .global-visibility-col {
        background: #E7F3FF;
    }

    .my-cases-col {
        background: #EBF0FC;
    }

    .analytics-col {
        background: #F5F7FB;
    }

    .login-form {
        margin: 30px auto;
        max-width: 280px;
    }

    .login-form .logo {
        margin: 30px auto;
        display: inherit;
    }

    .forgot-password {
        margin: 10px 0;
        float: left;
        width: 100%;
        font-size: 16px;
    }

    .login-form .slds-form-element {
        margin-bottom: 20px;
    }



    .login-form .slds-input {
        height: 42px;
        border: 1px solid #636363;
    }

    .cCrowleyCommunity_DashboardHeader .active {
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        height: calc(100% - 150px);
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        background: #ededed;
        height: 100vh;
    }

    .dropdown-menu ul li a {
        display: block;
        font-weight: 700;
        color: #212529;
        letter-spacing: 1px;
        padding: 20px;
        font-size: 18px;
        border-bottom: 1px solid #ccc;
    }

    .nav-tabs {
        border: 0;
    }

    .login-social-media {
        float: left;
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }

    .login-social-media h4 {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .login-social-media span {
        border: 1px solid #ccc;
        padding: 10px;
        background: #f7f7f7;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        display: inline-block;
        margin: 0 5px;
    }

    .login-social-media i {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat !important;
        background-position: center;
    }

    .login-social-media .facebook {
        background-image: url('/CrowleyCustomerCommunity/resource/facebook');
    }

    .login-social-media .twitter {
        background-image: url('/CrowleyCustomerCommunity/resource/twitter');
    }

    .login-social-media .linkedin {
        background-image: url('/CrowleyCustomerCommunity/resource/linkedin');
    }

    .login-form .slds-form-element__label {
        display: none;
    }


    .fcl-lcl {
        display: inline-block;
        margin-right: 30px;
        font-weight: bold;
    }

    .route-results {
        border: 1px solid #ccc;
        border-radius: 10px 10px 0 0;
    }

    .route-results h5 {
        font-size: 12px;
        color: #666;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        font-weight: bold;
        padding: 15px;
    }

    .suggestive-search .slds-icon-action-back {
        display: none;
    }

    .dock-search .slds-icon-action-back {
        display: block !important;
    }



    .slds-lookup__item-action a {
        color: #000;
    }

    .slds-lookup__list {
        max-height: unset;
    }

    .slds-input {
        min-height: 48px;
        border-radius: 3px !important;
    }

    .dock-search .slds-input {
        padding-left: 48px;
    }

    .dock-search .slds-input__icon_left {
        display: none;
    }

    .dock-search .slds-icon-action-back {
        position: absolute;
        z-index: 999;
        top: 10px;
        left: 10px;
    }

    .error-message {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    .user-onboard {
        background: url('/CrowleyCustomerCommunity/resource/seaship') right 30px no-repeat #fff;
        background-attachment: scroll;
        overflow: auto;
        min-height: 667px;
        background-size: 100%;
        position: relative;
    }

    .user-onboard-form {
        background: transparent;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        overflow: auto;
        height: unset !important;

    }

    /* .scollable-container .user-onboard-form {
        padding-top: 70px;
        position: static
    } */

    .back-icon-btn {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 999;
    }

    .crowley-highlights {
        display: none;
    }

    .no-bg {
        background-image: none;
    }

    .no-bg .user-onboard-form {
        position: unset !important;
        margin-top: 70px;
    }
}

@media screen and (max-width: 374px) {
    .user-onboard {
        background-size: 80%;
    }
}

@media only screen and (max-width: 1023px) {
    .header-right-content {
        display: block
    }

    .side-menu {
        width: 0;
        transition: all 0.5s ease-in-out;
        background: #fff;
        height: 100%;
        z-index: 999;
    }

    .dasboard-content {
        width: 100%;
        margin-right: 0;
        padding: 15px;
    }

    .side-menu ul li a {
        padding: 20px 20px 20px 25px;
        font-size: 19px;
    }

    .side-menu ul li a .svg {
        width: 24px;
        margin: 0 28px 0 0;
        height: 30px;
    }

    .fliph {
        display: block;
        left: 0;
        top: 70px;
        border-top: 1px solid #CCC;
        width: 100%;
        height: calc(100vh - 54px);
        z-index: 999;
        transition: all 0.5s ease-in-out;
        background: #fff;
    }
}