/* Shipping Instruction styling of left column form **************/
.shipping-instruction {
    float: left;
    width: 100%;
}
.shipping-instruction .slds-grid.slds-gutters {
    flex: 1 50%;
    margin: 0px 0 0;
    position: relative;
    font-size: 14px;
    border: 1px solid #000;
    padding: 10px;
    border-bottom: 0;
    display: inline-block;
}
/* .shipping-instruction .slds-grid.slds-gutters:nth-last-child(2) {
    border-bottom: 1px solid #000;
} */
.shipping-instruction .slds-grid.slds-gutters:last-child {
    border-bottom: 1px solid #000;
}
.shipping-instruction .slds-grid.slds-gutters:nth-child(even) {
    border-left: 0;
}
.shipping-instruction .slds-form-element__label {
    font-size: 12px;
    padding: 0 100px 0 0;
    min-height: 50px;
    width: 100%;
    line-height: normal;
}
.shipping-instruction .wide .slds-form-element__label{
    padding: 0;
}
.shipping-instruction .slds-grid .slds-col .slds-form-element__label {
    min-height: 0;
    padding: 0;
}
.shipping-instruction .flex-col{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
.special-txt {
    position: absolute;
    right: -1px;
    top: -1px;
    display: inline-block;
    border: 1px solid #000;
    padding: 3px 5px;
    font-size: 13px;
    max-width: 110px;
    line-height: normal;
    min-width: 100px;
    min-height: 23px;
}
.special-txt.wide{
    max-width: 150px;
}
.shipping-instruction .special-txt .slds-form-element__label,
.shipping-instruction td .slds-form-element__label{
    /* padding: 0; */
    min-height: 0;
}
.shipping-instruction .slds-form-element {
    width: 100%;
}
.shipping-instruction .slds-textarea{
    padding: 5px;
    resize: none;
    min-height: 80px;
}
.slds-textarea[readonly] {
    padding-left: 0;
    border-color: transparent;
    background-color: transparent;
    font-size: .8125rem;
    font-weight: 400;
}
.shipping-instruction .slds-input{
    padding: 0 5px;
}
.shipping-instruction .slds-grid .slds-col{
    padding: 0;
    margin-bottom: 12px;
}
.shipping-instruction .slds-grid .slds-col.bottom-padding .slds-form-element__label{
    padding-bottom: 11px;   
}
.shipping-instruction .slds-grid .slds-col:last-child{
    margin-bottom: 0;
}
.shipping-instruction .slds-grid.slds-gutters.multi-col{
    display: flex;
    flex-wrap: wrap;
}
.shipping-instruction .slds-grid.slds-gutters.multi-col .slds-col{
    padding-right: 5px;
    flex: 50%;
}
.shipping-instruction .slds-grid.slds-gutters.multi-col .slds-col:nth-child(even){
    padding-right: 0;
    padding-left: 5px;
}
.shipping-instruction .table-heading,
.right-pdf-colum .table-heading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.shipping-instruction .table-responsive{border: 1px solid #000;margin-bottom: 10px;border-right: 0;}
.shipping-instruction table{margin-bottom: 0;}
.shipping-instruction table.table-borderless th{font-size: 12px;line-height: normal;padding: .3rem .5rem;vertical-align: top;border-right: 1px solid #000;}
.shipping-instruction table th:last-child{
    border-right: 1px solid #000;
}
.shipping-instruction table tbody tr{
    border-color: transparent;
}
.shipping-instruction table tbody td{font-size: 12px;padding: .3rem .5rem;border-right: 1px solid #000;}
.shipping-instruction table tbody .total-row{
}
.shipping-instruction table tbody .total-row td{
    border-top: 1px solid #000;
}
.shipping-instruction table tbody .total-row td:first-child{
    text-align: right;
    text-transform: uppercase;
}
.flex-col{
    display: flex;
    flex-wrap: wrap;
}
.flex-col .right-pdf-colum{
    margin-left: 20px;
}
.form-action-buttons{
    margin: 40px 0 20px;
}
 .origin-dest-weeks-btn {
        min-width: 47%;
    }
.origin-dest-weeks-btn {
    font-size: 16px;
    min-height: 34px;
    font-weight: bold;
    border-radius: 4px;
    min-width: 138px;
}

.clear-form-btn {
    border: 1px solid #999999;
    color: #333;
    background: #FFFFFF;
}

.clear-form-btn:hover,
.clear-form-btn:visited,
.clear-form-btn:focus {
    border: 1px solid #000;
    background: #fff;
    color: #333;
}
.bdr-all {
    border: 1px solid #000;
}
.bdr-l-0 {
    border-left: 0;
}
.bdr-r-0 {
    border-right: 0;
}
.bdr-b-0 {
    border-bottom: 0;
}

.bdr-t-0{
    border-top:0;
}

.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}

.padding-five {
    padding: 5px !important;
}
.text-center{
 text-align:center;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
.slds-form-element__label {
    font-size:12px;
    color: #333333;
    font-weight: bold;
}
	