.THIS {
}
.THIS .clear-field {
    position: absolute;
    right: 12px;
    top: 42px;
    background-image: url('/CrowleyCustomerCommunity/resource/clearField');
    width: 15px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    border: 0.0075em solid #0F1C3F;
}