.THIS {
	
}
.THIS .cCustomerCommunity_PDFViewer {
    position: relative;
}

.THIS .large {
   width: 235px;
   height: 235px;
    position: absolute;
    /*border-radius: 10%;*/
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
}
.THIS #pageImgId {
    display: block;
}

.THIS .pagination-left{
    width: 20px;
}
.THIS .pagination-right {
    width: 20px;
}